@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic');

@import 'media';
@import 'fontello';

@font-face {
    font-family: 'Basis Grotesque Pro';
    font-style: normal;
    font-weight: normal;
    src: local('Basis Grotesque Pro'), url('../font/BasisGrotesquePro-Regular.woff') format('woff');
}


@font-face {
    font-family: 'Basis Grotesque Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Basis Grotesque Pro Bold'), url('../font/BasisGrotesquePro-Bold.woff') format('woff');
}


@font-face {
    font-family: 'Basis Grotesque Pro Light';
    font-style: normal;
    font-weight: normal;
    src: local('Basis Grotesque Pro Light'), url('../font/BasisGrotesquePro-Light.woff') format('woff');
}

/* Fonts */
@text-font: 'Basis Grotesque Pro Light', sans-serif;
@header-font: 'Montserrat', sans-serif;
// @text-font: 'Roboto', sans-serif;
/* Fonts */

/* Colors */
@text-color: #dedee0;
@bg-color: #151720;
@block-color: #282b35;
@highlight-color: #fe1453;
@border-radius: 15px;
@box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
@notification-box-shadow: 0 2px 38px -12px rgba(0, 0, 0, 0.56), 0 -2px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
/* Colors */

body{
    background-color: @bg-color;
}

.container {
    box-sizing: border-box;
    max-width: 1380px;
    width: 100%;
    margin: 0px auto;
}

.wrap{
    box-sizing: border-box;
    padding: 10px 15px;

    @media @tablet {
        padding: 10px 15px;
    }

    @media @desktop {
        padding: 10px 20px;
    }
}

.podcast-app{
    &__title{
        font-family: @header-font;
        font-weight: 700;
        color: @text-color;
        font-size: 23px;
        margin: 25px 0px;
    
        @media @tablet {
            font-size: 28px;
            margin: 55px 0px;
        }
    
        @media @desktop {
            font-size: 29px;
        }

        &:after {
            content: '.';
            color: @highlight-color;
        }
    }
}


/* Plyr */
.plyr{
    font-family: @text-font;
    font-weight: 700;
}

.plyr--audio .plyr__controls{
    background-color: transparent;
    border-radius: @border-radius;
    padding: 0px;
}

.plyr--audio .plyr__control.plyr__tab-focus, .plyr--audio .plyr__control:hover, .plyr--audio .plyr__control[aria-expanded=true]{
    background: none;
    outline: none;
}

.plyr__control.plyr__tab-focus{
    box-shadow: none;
}

.plyr--full-ui input[type=range]{
    color: @highlight-color;
}
/* Plyr */

.slick-slider, .slick-slide{
    outline: none;
}



/* header */
.header{
    background-color: @block-color;
    box-shadow: @box-shadow;

    &__wrap{
        padding: 10px 10px;

        @media @tablet {
            padding: 10px 15px;
        }
    
        @media @desktop {
            padding: 10px 20px;
        }
    }

    &__title{
        font-family: @header-font;
        font-weight: 700;
        color: @text-color;
        font-size: 15px;
    
        @media @tablet {
            font-size: 18px;
        }
    
        @media @desktop {
            font-size: 20px;
        }
    }
}
/* header */

/* avatar */
.avatar{
    &__wrap{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        text-align: end;
        align-items: center;
    }

    &-img__wrap{
        position: relative;
        
        &:after{
            content: '';
            position: absolute;
            bottom: 2%;
            right: 2%;
            border: 2px solid @block-color;
            height: 10px;
            width: 10px;
            background-color: #21ba45;
            border-radius: 50%;
        }
    }

    &__img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 17px;
        box-shadow: @box-shadow;

        @media @tablet {
            width: 50px;
            height: 50px;
        }
    }

    &__name{
        display: none;
        font-family: @text-font;
        font-weight: 700;
        color: @text-color;
    
        @media @tablet {
            display: block;
            font-size: 12px;
        }
    
        @media @desktop {
            font-size: 13px;
        }
    }
    
}
/* avatar */

/* information */

.information{
    &__wrap{
        padding-top: 25px;
        padding-bottom: 0px;
        @media @tablet {
            padding-top: 40px;
            padding-bottom: 10px;
        }
    
        @media @desktop {
            padding-top: 50px;
            padding-bottom: 10px;
        } 
    }

    &__text{
        font-family: @header-font;
        font-size: 20px;
        font-weight: 300;
        color: @text-color;
        margin: 0px;

        @media @tablet {

        }
    
        @media @desktop {

        }
    }

    &__quantity{
        font-weight: 500;
    }
}

/* information */

/* user-podcast */
.user-podcast{
    &__wrap{
        padding-top: 25px;
        padding-bottom: 0px;
        @media @tablet {
            padding-top: 40px;
            padding-bottom: 10px;
        }
    
        @media @desktop {
            padding-top: 50px;
            padding-bottom: 10px;
        } 
    }
    &-item{
        position: relative;
        height: 100%;
        background-color: @block-color;
        box-sizing: border-box;
        border-radius: @border-radius;
        padding: 20px;

        @media @tablet {
            padding: 25px;
        }
    
        @media @desktop {
            padding: 30px;
        }

        &:hover .user-podcast-item__close{
            opacity: 0.7;
        }

        &__header{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            // align-items: center;
            flex-direction: row;
            padding: 5px 0;
        }

        &__close{
            position: absolute;
            top: 4px;
            right: 4px;
            background-color: transparent;
            width: 28px;
            height: 28px;
            border: 1px solid @highlight-color;
            border-radius: 50%;
            padding: 4px;
            cursor: pointer;
            outline: none;
            opacity: 0;
            transition:all 0.4s;

            & svg {
                display: block;
                width: 100%;
                height: 100%;
                overflow: visible;
                position: relative;
                fill: @highlight-color;
            }
        }

        &__wrap{
            outline: none;
            margin-bottom: 15px;
        }

        &__title{
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical; 
            font-family: @header-font;
            font-weight: 700;
            color: @text-color;
            margin: 0px;
            font-size: 17px;
        
            @media @tablet {
                font-size: 18px;
            }
        
            @media @desktop {
                font-size: 19px;
            }
        }

        &__description{
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: none;
            -webkit-box-orient: vertical;
            font-family: @text-font;
            font-weight: 400;
            color: @text-color;
            font-size: 14px;
            line-height: 20px;

            @media @tablet {
                -webkit-line-clamp: 1;
            }
            @media @desktop {
                font-size: 15px;
            }
        }

        &__link{
            display: block;
            font-family: @text-font;
            font-weight: 700;
            text-decoration: none;
            color: #6B7282;
            font-size: 13px;
        }

        &__logo{
            align-self: center;
            width: 67px;
            height: 67px;
            border-radius: 50%;
            box-shadow: @box-shadow;

            @media @desktop {
                width: 80px;
                height: 80px;
            }
        }

        &__info{
            padding-left: 15px;
            align-self: center;
        }
    }
}
/* user-podcast */

/* last-podcast */
.last-podcast{
    &__wrap{
        padding-top: 25px;
        padding-bottom: 0px;
        @media @tablet {
            padding-top: 40px;
            padding-bottom: 10px;
        }
    
        @media @desktop {
            padding-top: 50px;
            padding-bottom: 10px;
        } 
    }

    &-item{
        position: relative;
        background-color: @block-color;
        border-radius: @border-radius;
        box-sizing: border-box;
        margin-bottom: 15px;
        padding: 20px;

        @media @tablet {
            padding: 25px;
        }
    
        @media @desktop {
            padding: 30px;
        }

        &__header{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            flex-direction: row;
            padding: 5px 0;
        }

        &__title{
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical; 
            font-family: @header-font;
            font-weight: 700;
            color: @text-color;
            margin: 0px;
            font-size: 17px;

            @media @tablet {
                font-size: 18px;
                -webkit-line-clamp: 2;
            }
        
            @media @desktop {
                font-size: 19px;
            }
        }

        &__date{
            font-family: @text-font;
            font-weight: 700;
            color: #6b7282;
            line-height: 15px;
            margin: 5px 0px;
            font-size: 12px;

            @media @tablet {
                font-size: 13px;
            }
        
            @media @desktop {
                font-size: 13px;
            }
        }

        &__new-label{
            position: absolute;
            right: 6px;
            top: 4px;
            border: 2px solid #21ba45;
            border-radius: 6px;
            padding: 2px 10px;
            color: #21ba45;
            font-weight: 600;
            font-size: 11px;
            font-family: @text-font;
            font-weight: 700;
        
            @media @tablet {
                font-size: 12px;
                right: 10px;
                top: 10px;
            }
        }

        &__link{
            display: block;
            font-family: @header-font;
            font-weight: 500;
            text-decoration: none;
            color: #6B7282;
            font-size: 11px;
        
            @media @desktop {
                font-size: 13px;
            }
        }

        &__logo{
            align-self: center;
            width: 67px;
            height: 67px;
            border-radius: 50%;
            box-shadow: @box-shadow;

            @media @desktop {
                width: 80px;
                height: 80px;
            }
        }

        &__info{
            padding-left: 15px;
            align-self: center;
        }

        &__wrap{
            padding: 20px;

            @media @tablet {
                padding: 25px;
            }
        
            @media @desktop {
                padding: 30px;
            }
        }   

        &__list{
            font-family: @header-font;
            font-weight: 300;
            color: @text-color;
            font-size: 14px;
            line-height: 23px;
            margin-top: 0px; 

            @media @desktop {
                font-size: 15px;
            }
        }

        &__content{
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;  
            text-overflow: ellipsis;
            overflow: hidden;

            margin: 20px 0px;
            font-family: @text-font;
            color: @text-color;
            font-weight: 400;
            line-height: 20px;
            font-size: 15px;

            @media @tablet {
                -webkit-line-clamp: 3;
            }

            & a{
                color: @text-color;
            }

            & img{
                display: none;
            }

            & em{
                display: none;
            }

            & audio{
                display: none;
            }

            & p{
                margin: 0px;
            }

            & ul{
                padding-left: 20px;
                white-space: nowrap;
                overflow: hidden; 
                text-overflow: ellipsis;
            }
        }

        &__player-wrap{
            margin-top: 30px;
        }
    }
}
/* last-podcast */

/* footer */
.footer{
    background-color: @block-color;
    margin-top: 45px;
    padding: 20px 0px;
    font-size: 15px;

    @media @tablet {
        font-size: 15px;
        margin-top: 60px;
    }
    @media @desktop {
        font-size: 16px;
        margin-top: 70px;
    } 

    &__text{
        font-family: @header-font;
        color: @text-color;
        font-weight: 700;
        margin: 0px;
    }
}
/* footer */

/* notifications */
.notifications{
    position: relative;
}

.notification{
    position: fixed;
    z-index: 1000;
    display: none;
    align-items: center;
    flex-direction: row;
    bottom: 15px;
    right: 15px;
    width: 300px;
    background-color: @block-color;
    padding: 14px;
    border-radius: @border-radius;
    box-sizing: border-box;
    box-shadow: @notification-box-shadow;

    &__marker {
        position: absolute;
        z-index: 1100;
        top: 6px;
        left: 6px;
        height: 15px;
        width: 15px;
        background-color: #21ba45;
        border-radius: 50%;
    }

    @media @tablet {
        right: 20px;
        width: 350px;
        padding: 20px;
    }

    &__logo{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        box-shadow: @box-shadow;
    }

    &__content{
        padding-left: 14px;
    }

    &__text{
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical; 
        font-family: @header-font;
        font-size: 13px;
        color: @text-color;
        font-weight: 500;
        margin: 4px 0px;

        @media @tablet {
            font-size: 15px;
        }
    }

    &__date{
        font-family: @text-font;
        font-weight: 700;
        font-size: 12px;
        color: #6b7282;
        font-weight: 500px;
        margin: 3px 0px;

        @media @tablet {
            font-size: 13px;
        }
    }
}
/* notifications */

/* calendar */

.calendar{
    &__wrap{
        padding-top: 25px;
        padding-bottom: 0px;
        @media @tablet {
            padding-top: 40px;
            padding-bottom: 10px;
        }
    
        @media @desktop {
            padding-top: 50px;
            padding-bottom: 10px;
        } 
    }

    &__row{
        margin-right: -0.25em;
        margin-left: -0.25em;
    }

    &__days{
        margin-top: 10px;
    }

    &__cell{
        background-color: @block-color;
        padding: 14px;
        box-sizing: border-box;
        border: 4px solid @bg-color;
        border-radius: @border-radius;
        overflow: hidden;

        @media @desktop {
            border-radius: 0px;
            border: 2px solid @bg-color;
        }

        &_days{
            background-color: #1b1d24;
        }

        &_empty{
            display: none;
    
            @media @desktop {
                display: block;
            }
        }
    }

    &__button{
        background-color: transparent;
        border: none;
        outline: 0;
        padding: 0px;
        color: #fe1453;
        font-size: 24px;
        cursor: pointer;
        width: 40px;
        text-align: left;
    }

    &__current-date{
        font-family: @text-font;
        color: @text-color;
        font-weight: 700;
        font-size: 14px;
        margin: 0px;
        text-align: right;

        @media @desktop {
            font-size: 18px;
        }
    }

    &__date{
        font-family: @header-font;
        font-weight: 800;
        font-size: 25px;
        color: #6b7282;
        margin: 15px 0px 10px 0px;
        text-align: right;

        &_current{
            color: @highlight-color;
        }
    }

    &__text{
        font-family: @header-font;
        font-weight: 700;
        font-size: 18px;
        color: @text-color;

        @media @tablet {
            font-size: 22px;
        }
    
        @media @desktop {
            font-size: 24px;
        }

        &_highlight{
            color: @highlight-color;
            font-size: 20px;

            @media @tablet {
                font-size: 24px;
            }
        
            @media @desktop {
                font-size: 27px;
            }
        }
    }

    &-item{
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 5px 0px;

        &__logo{
            display: block;
            align-self: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;

            @media @desktop {
                width: 21px;
                height: 21px;
            }
        }

        &__content{
            padding-left: 10px;

            @media @desktop {
                padding-left: 4px;
            }
        }

        &__title{
            font-family: @text-font;
            font-size: 14px;
            font-weight: 700;
            color: @text-color;
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical; 
            margin: 0px;

            @media @desktop {
                font-size: 13px;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical; 
            }
        }
    }
}
/* calendar */

/* chart */
.chart{
    &__wrap{
        padding-top: 25px;
        padding-bottom: 0px;
        @media @tablet {
            padding-top: 40px;
            padding-bottom: 10px;
        }
    
        @media @desktop {
            padding-top: 50px;
            padding-bottom: 10px;
        } 
    }
}
/* chart */