<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="theme-color" content="#151720">
    <link rel="icon" href="img/icon.png">
    <title>Podcast Web App</title>

    <% 
        const date = new Date(); 
        timestamp = date.getTime();
    %>

    <!--CSS-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" type="text/css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" type="text/css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/plyr/3.5.4/plyr.css" type="text/css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" type="text/css"/>
    <link rel="stylesheet" href="css/main.min.css?pwacss=<%= timestamp %>" type="text/css">
    <!--CSS-->
</head>

<body>
    <header class="header">
        <div class="header__wrap wrap">
            <div class="row middle-xs between-xs">
                <div class="row middle-xs">
                    <a class="header__menu-switcher" href="#" role="button" title="Меню"><span></span></a>
                    <h2 class="header__title">
                        Podcast Web App
                    </h2>
                </div>
                <div class="col-xs-3">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="avatar__wrap">
                                <span class="avatar__name">
                                    Evgeny Nadolinsky
                                </span>
                                <div class="avatar-img__wrap">
                                    <img src="img/ava.jpg" class="avatar__img" alt="ava">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="container wrap user-podcast__wrap">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="podcast-app__title">
                        Мои подкасты
                    </h2>
                </div>
            </div>
            <div class="row js-podcast-list">

            </div>
        </div>
    </section>

    <section>
        <div class="container wrap last-podcast__wrap">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="podcast-app__title">
                        Последние эпизоды
                    </h2>
                </div>
            </div>
            <div class="row top-xs js-new-episode">

            </div>
        </div>
    </section>

    <section>
        <div class="container wrap calendar__wrap">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="podcast-app__title">
                        Календарь выхода эпизодов
                    </h2>
                </div>
            </div>
            <div class="js-calendar">

            </div>
        </div>
    </section>

    <section>
        <div class="container wrap chart__wrap">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="podcast-app__title">
                        График выхода эпизодов
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <canvas id="js-chart" width="100%" height="410"></canvas>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container wrap">
            <div class="row start-xs">
                <div class="col-xs-12">
                    <p class="footer__text">
                        &copy; 2019
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <div class="notifications js-notifications">
    </div>
    <!--JavaScript-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/plyr/3.5.4/plyr.min.js" type="text/javascript"></script>
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" type="text/javascript"></script>
    <script src="js/main.min.js?pwajs=<%= timestamp %>" type="text/javascript"></script>
    <!--JavaScript-->

</body>

</html>